In [21]:
data_path = input("Enter the path for your data file: ")
data = DataPrepKit(data_path)
summary = data.summary()
print("Summary Statistics:")
print(summary)

Enter the path for your data file:  movies.csv

Summary Statistics:
       IMDB_Rating  Meta_score    No_of_Votes
count    23.000000   23.000000      23.000000
mean      7.530435   74.695652  284482.869565
std       0.333623   11.810761  173666.447635
min       6.000000   52.000000   40351.000000
25%       7.600000   67.000000  168126.000000
50%       7.600000   76.000000  247666.000000
75%       7.600000   82.000000  388009.500000
max       7.600000   96.000000  732876.000000

In [22]:
strategy = input("Choose missing value strategy ('drop', 'mean', or 'median'): ")
cleaned_data = data.handle_missing_values(strategy)
print("Cleaned Data:")
print(cleaned_data.head())

Choose missing value strategy ('drop', 'mean', or 'median'):  drop

Cleaned Data:
  Series_Title Certificate  Runtime                   Genre  IMDB_Rating  \
0          Her           A  126 min  Drama, Romance, Sci-Fi          6.0
1          300           A  117 min           Action, Drama          7.6
2     21 Grams          UA  124 min  Crime, Drama, Thriller          7.6
3    25Th Hour           R  135 min                   Drama          7.6
4        50/50           R  100 min  Comedy, Drama, Romance          7.6

   Meta_score               Director  No_of_Votes          Gross  \
0          90            Spike Jonze       540772   $25,568,251
1          52            Zack Snyder       732876  $210,614,939
2          70  Alejandro G. Iñárritu       224545   $16,290,476
3          68              Spike Lee       169708   $13,060,843
4          72        Jonathan Levine       315426   $35,014,192

  Released_date Langunges           budget          revenue country
0     1/16/2014   English  $23,000,000.00          48043998      AU
1      4/5/2007   English         60000000        454161935      AU
2     1/22/2004   English         20000000         59667625      AU
3      6/5/2003   English          4500000  $25,344,490.00       AU
4      3/8/2012   English          8000000         41334735      AU

In [23]:
encoded_data = data.encode_categorical()
print("Encoded Data :")
print(encoded_data.head())

Encoded Data :
   IMDB_Rating  Meta_score  No_of_Votes  Series_Title_21 Grams  \
0          6.0          90       540772                  False
1          7.6          52       732876                  False
2          7.6          70       224545                   True
3          7.6          68       169708                  False
4          7.6          72       315426                  False

   Series_Title_25Th Hour  Series_Title_300  Series_Title_50/50  \
0                   False             False               False
1                   False              True               False
2                   False             False               False
3                    True             False               False
4                   False             False                True

   Series_Title_A Hard Day'S Night  Series_Title_A Star Is Born  \
0                            False                        False
1                            False                        False
2                            False                        False
3                            False                        False
4                            False                        False

   Series_Title_American Psycho  ...  revenue_48043998  revenue_543464573  \
0                         False  ...              True              False
1                         False  ...             False              False
2                         False  ...             False              False
3                         False  ...             False              False
4                         False  ...             False              False

   revenue_59667625  revenue_710644566  revenue_7961889  revenue_83282296  \
0             False              False            False             False
1             False              False            False             False
2              True              False            False             False
3             False              False            False             False
4             False              False            False             False

   revenue_9500000  country_AU  country_FR  country_GB
0            False        True       False       False
1            False        True       False       False
2            False        True       False       False
3            False        True       False       False
4            False        True       False       False

[5 rows x 188 columns]